@import 'custom';
@import '~bootstrap/scss/bootstrap';

body,
html
{
    background: theme-color('dark');
    color: theme-color('white');
    font-family: monospace;
    margin: 0;
    padding: 0;
}

audio,
canvas,
video
{
    @extend .mt-2;

    width: 100%;
}

canvas,
video
{
    min-height: 66vh;
}

button,
option,
select
{
    color: #161616;
}

label {
    @extend .m-0;
}

h1 {
    @extend .mb-4, .p-4, .border;
}
