@import 'custom';
@import '~bootstrap/scss/bootstrap';

body, html {
  background: theme-color('dark');
  color: theme-color('white');
  font-family: monospace;
  margin: 0;
  padding: 0;
}

audio, canvas, video {
  @extend .mt-2;

  width: 100%;
}

canvas, video {
  min-height: 66vh;
}

button, option, select {
  color: #161616;
}

label {
  @extend .m-0;
}

h1 {
  @extend .p-4, .bg-light, .text-dark;
}

h1, h2, h3 {
  @extend .font-weight-bolder;
}

h4, h5, h6 {
  @extend .font-weight-bold;
}

h1, h2, h3, h4, h5, h6 {
  @extend .mb-4;
}

.center-between {
  @extend .d-flex, .align-items-center, .justify-content-between;
}

.center-center {
  @extend .d-flex, .align-items-center, .justify-content-center;
}

.fa-microphone, .fa-file-audio {
  font-size: 8rem;
}

.border-danger {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
